:root {
    --ktx-progress-color:#333336;
    --ktx-btn:#333336;
    --carousel-control-bg: #aab0be;
    --ktx-progress-bg:#eeeef4;
}

body{
    overflow: hidden;
}

.carousel-section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
}
.carousel-arranger{
    position: relative;
}

.carousel-item {
    position: absolute;
    border-radius: 20px;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    color: #fff;
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button-list{
    height: 48px;
    background-color: var(--carousel-control-bg);
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-button-list .carousel-btn {
    width: 20px;
}

.active-carousel-btn{
    width: 40px !important;
}
.carousel-play-btn{
    height: 48px;
    background-color: var(--carousel-control-bg);
    width: 48px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    color: var(--ktx-btn);
    align-items: center;
    cursor: pointer;
}

.start{
    color: #a7a7a7;
    margin-right: 5px;
}
.duration{
    color: #a7a7a7;
    margin-left: 5px;
}
.spoti-progress-bar{
    height: 12px;
    position: relative;
    width: 100%;
}
.hidden-visually{
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.progress-bar-line{
    --progress-bar-transform: 0%;
    --progress-bar-height: 4px;
    --progress-bar-radius: calc(var(--progress-bar-height)/2);
    height: 100%;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    width: 100%;
    cursor: pointer;
}

.progress-bar-background{
    background-color: var(--ktx-progress-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 12px;
    width: 100%;
    border-radius: 13px;
}
.progress-arranger{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.progress-bg{
    background-color: var(--ktx-progress-color);
    -webkit-transform: translateX(calc(-100% + var(--progress-bar-transform)));
    transform: translateX(calc(-100% + var(--progress-bar-transform)));
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.progress-button{
    background-color: var(--ktx-progress-color);
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    display: none;
    height: 12px;
    left: var(--progress-bar-transform);
    margin-left: -6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
    z-index: 100;
    transition: 0.3s;
}
.playback-bar{
    display: flex;
    width: 100%;
    align-items: baseline;
}
.right-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
.kotix-carousel{
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-controls {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.carousel-button-list{
    width: 168px;
    height: 48px;
    background-color: var(--carousel-control-bg);
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.carousel-button-list .carousel-btn {
    width: 20px;
}

.active-carousel-btn{
    width: 40px !important;
}
.carousel-play-btn{
    height: 48px;
    background-color: var(--carousel-control-bg);
    width: 48px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    color: var(--ktx-btn);
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.start{
    color: #a7a7a7;
    margin-right: 5px;
}
.duration{
    color: #a7a7a7;
    margin-left: 5px;
}
.spoti-progress-bar{
    height: 12px;
    position: relative;
    width: 100%;
}
.hidden-visually{
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.progress-bar-line{
    --progress-bar-transform: 0%;
    --progress-bar-height: 4px;
    --progress-bar-radius: calc(var(--progress-bar-height)/2);
    height: 100%;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    width: 100%;
    cursor: pointer;
}


.progress-arranger{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.progress-bg{
    background-color: gray;
    -webkit-transform: translateX(calc(-100% + var(--progress-bar-transform)));
    transform: translateX(calc(-100% + var(--progress-bar-transform)));
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

.playback-bar{
    display: flex;
    width: 100%;
    align-items: baseline;
}
